body {
  background-color: #f0f8ff;
  font-family: Century Gothic, sans-serif;
}

.Top {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #8fbc8f;
  width: 100%;
  height: 10vh;
}

.Top p {
  margin-left: 2%;
  position: absolute;
  font-weight: bold;
}

.Top a {
  text-decoration: none;
}

.Top nav {
  text-align: right;
  margin-right: 2%;
  padding: 15px;
}

.Tab {
  height: 90vh;
}

.Tab .card {
  background: #F8F8FF;
  padding: 20px;
  margin: 2%;
  margin-top: 60px;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(131, 169, 180, 0.2);
          box-shadow: 0 10px 30px rgba(131, 169, 180, 0.2);
  width: 92%;
}

.Tab .card img {
  width: 27%;
  padding-right: 5%;
}

.Tab .card .list {
  width: 25%;
}

.Tab .card .cat {
  position: absolute;
  width: 60%;
  left: 35%;
  top: 80px;
}

.Tab .card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Tab .card ul span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #8fbc8f;
  border-color: #8fbc8f;
  border-radius: 50%;
  margin-right: 10px;
}

.Tab .card ul strong {
  display: inline-block;
  margin-left: 40px;
}

.Tab section#primary {
  text-align: center;
}

.Tab section#primary h1 {
  font-size: 3em;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.Tab section#primary p {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
}

.Tab section#primary a {
  color: #F8F8FF;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #bc8fa5;
  display: block;
  text-align: center;
  margin: 35px auto 35px auto;
  padding: 15px;
}

.container .one, .container .two, .container .three {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.container .one .recipe, .container .one .kins, .container .one .drinks, .container .two .recipe, .container .two .kins, .container .two .drinks, .container .three .recipe, .container .three .kins, .container .three .drinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
}

.container .one div, .container .two div, .container .three div {
  padding-top: 5px;
}

.container .one div .r1 h1, .container .one div .r2 h1, .container .one div .r3 h1, .container .one div .k1 h1, .container .one div .k2 h1, .container .one div .k3 h1, .container .one div .d1 h1, .container .one div .d2 h1, .container .one div .d3 h1, .container .two div .r1 h1, .container .two div .r2 h1, .container .two div .r3 h1, .container .two div .k1 h1, .container .two div .k2 h1, .container .two div .k3 h1, .container .two div .d1 h1, .container .two div .d2 h1, .container .two div .d3 h1, .container .three div .r1 h1, .container .three div .r2 h1, .container .three div .r3 h1, .container .three div .k1 h1, .container .three div .k2 h1, .container .three div .k3 h1, .container .three div .d1 h1, .container .three div .d2 h1, .container .three div .d3 h1 {
  font-size: 0.95em;
  text-transform: uppercase;
  text-align: center;
}

.container .one div .r1 h2, .container .one div .r2 h2, .container .one div .r3 h2, .container .one div .k1 h2, .container .one div .k2 h2, .container .one div .k3 h2, .container .one div .d1 h2, .container .one div .d2 h2, .container .one div .d3 h2, .container .two div .r1 h2, .container .two div .r2 h2, .container .two div .r3 h2, .container .two div .k1 h2, .container .two div .k2 h2, .container .two div .k3 h2, .container .two div .d1 h2, .container .two div .d2 h2, .container .two div .d3 h2, .container .three div .r1 h2, .container .three div .r2 h2, .container .three div .r3 h2, .container .three div .k1 h2, .container .three div .k2 h2, .container .three div .k3 h2, .container .three div .d1 h2, .container .three div .d2 h2, .container .three div .d3 h2 {
  font-size: 0.6em;
  text-align: left;
  margin-left: 7%;
}

.container .one div .r1 img, .container .one div .r2 img, .container .one div .r3 img, .container .one div .k1 img, .container .one div .k2 img, .container .one div .k3 img, .container .one div .d1 img, .container .one div .d2 img, .container .one div .d3 img, .container .two div .r1 img, .container .two div .r2 img, .container .two div .r3 img, .container .two div .k1 img, .container .two div .k2 img, .container .two div .k3 img, .container .two div .d1 img, .container .two div .d2 img, .container .two div .d3 img, .container .three div .r1 img, .container .three div .r2 img, .container .three div .r3 img, .container .three div .k1 img, .container .three div .k2 img, .container .three div .k3 img, .container .three div .d1 img, .container .three div .d2 img, .container .three div .d3 img {
  margin-left: 5%;
  width: 70%;
}

.one {
  background: #ccb6ac;
}

.two {
  background: #fff9f0;
}

.three {
  background: #c0c6cc;
}
/*# sourceMappingURL=main.css.map */